.worker-info .modal-footer {
  justify-content: space-between;
}

.worker-info-content-item {
  display: flex;
  flex-direction: column;

  font-size: 0.8rem;
}

.worker-info-content-item h6 {
  margin-bottom: 3px;
  color: #656565;
}

.personal-info {
  margin-bottom: 10px;
}

.job-info {

}

.job-info h6 {

}
